.toast-container {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  
  left: 0;
  right: 0;
  bottom: 0;

  padding-bottom: 2rem;
  
  user-select: none;
  pointer-events: none;

  z-index: 999999;

  overflow: hidden;

  max-height: 100vh;
}